.navigation {
  display: flex;
  justify-content: space-between;

  .list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;

    a {
      text-decoration: none;
      color: var(--color-primary-400);
    }

    a:hover,
    a.active {
      color: var(--color-primary-800);
    }

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: center;
    }
  }
}
