.roll-progress-bar {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;

  &::-webkit-progress-bar {
    background-color: #eeeeee00;
    border-radius: 2px;
  }

  &::-webkit-progress-value {
    background-color: var(--color-primary-900);

    border-radius: 2px;
  }
}
