.upgrades-container {
  display: grid;

  // grid-template-columns: repeat(auto-fill, minmax(1fr));
  gap: 1rem;

  .upgrade {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    border-radius: 0.3rem;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    gap: 1rem;

    .name {
      margin: 0;
    }

    .cost {
      margin: 0;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
