.upgrades-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  .upgrade-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    .name {
      margin: 0;
    }

    .cost {
      margin: 0;
    }
  }
}
