@font-face {
  font-family: 'Playmegames';
  src: url('./fonts/Playmegames.ttf') format('truetype');
}
:root {
  --color-primary-100: #fcf3e1;
  --color-primary-200: #fceccd;
  --color-primary-300: #fae1af;
  --color-primary-400: #fbd997;
  --color-primary-500: #ffd37c;
  --color-primary-600: #f9c762;
  --color-primary-700: #fbc14d;
  --color-primary-800: #fab833;
  --color-primary-900: #f6ad1b;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #003b00, #005e00, #003600);

  * {
    font-family: 'Playmegames', sans-serif;
    font-size: 1.6rem;
  }

  #root {
    height: 100%;
    display: flex;
    flex-direction: column;

    header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      padding: 2rem;
      padding-bottom: 0;

      section {
        color: var(--color-primary-200);
      }

      h1 {
        font-size: 54px;
        margin: 0;
        background: linear-gradient(
          40deg,
          var(--color-primary-900),
          var(--color-primary-500),
          var(--color-primary-900)
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    main {
      // flex: 1;
      overflow: auto;
      padding: 2rem;
      padding-bottom: 4rem;
      display: flex;
      flex-direction: column;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .row {
      color: var(--color-primary-200);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      flex-direction: column;

      &.stretched {
        align-items: stretch;
      }
    }

    .btn {
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
      border: none;
      transition: transform 0.1s ease;
      padding: 0.3rem 0.5rem;
      border-radius: 0.3rem;

      &:active {
        transform: scale(0.92);
      }

      &.roll-btn {
        background-color: hsl(0, 100%, 50%);
        color: white;

        min-width: 10rem;

        &:hover {
          background-color: hsl(0, 100%, 30%);
        }

        &:disabled {
          background-color: lightgray;
          cursor: not-allowed;
        }
      }

      &.reset-btn {
        background-color: hsl(0, 100%, 50%);
        color: white;

        &:hover {
          background-color: hsl(0, 100%, 30%);
        }
      }

      &.upgrade-btn {
        background-color: white;

        &:hover {
          background-color: lightgray;
        }
      }
    }
  }
}
